@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Akshar&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');

:root {
    --color01: #989cb4;
    --color02: #7c7fd8;
    --color03: #1B1C30;
    --color04: black;
}

* {
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
    height: 80px;
    padding: 20px 0px 10px 0px;
    background-color: red;
       
    position: absolute;
    top: 54.5px;
    left: 50%;  
    transform: translate(-50%, -50%)
}

#titulo {
    font-family: sans-serif;
    color: #380B61;
    text-align: center;
    letter-spacing: 1.3px;
    font-size: 2.2em;
    
} 

#subtitulo {
    font-family: sans-serif;
    color: #380B61;
    text-align: center;
    padding-top: 10px;
} 

#check{
    display: inline-block;
    margin-right: 5px;
}

fieldset {
    border: 0;
}

body{
    background-color: #F0F8FF;
    font-family: sans-serif;
    font-size: 1em;
    color: #59429d;  
    position: relative;    
}

form {
    max-width: 600px;
    margin-top: 30px;
    object-position: center;    
    position: absolute;
    top: 333.3px;
    left: 50%;
    transform: translate(-50%, -50%);    
}

input, select, textarea, button {
    font-family: sans-serif;
    font-size: 1em;
    color: #59429d;
    border-radius: 5px;
}

.grupo:before, .grupo:after {
    display: table;
}

.grupo:after {
    clear: both;
}

.campo {
    margin-bottom: 1em;
}

.campo label {
    margin-bottom: 0.2em;
    color: #59429d;
    display: block;
}

fieldset.grupo .campo {
    float:  left;
    margin-right: 1em;
}

.campo input[type="text"], .campo input[type="email"], .campo select, .campo textarea {
    padding: 0.2em;
    border: 1px solid #59429d;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    display: block;
}

.campo select option {
    padding-right: 1em;
}

.campo input:focus, .campo select:focus, .campo textarea:focus {
    background: #E0E0F8;
}

.botao {
    font-size: 1.2em;
    background: #59429d;
    border: 0;
    margin-bottom: 1em;
    color: #ffffff;
    padding: 0.2em 0.6em;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    position: absolute;
    top: 108%;
    left: 9%;    
    transform: translate(-50%, -50%)
}

.botao:hover {
    background: #c4b0ff;
    box-shadow: inset 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: none;
    color: rgb(54, 35, 63);
    text-shadow: 1px 1px 1px rgb(54, 35, 63);
}

.botao, select{
    cursor: pointer;
}

textarea#outro {
    margin-top: 10px;
    display: table;
}

@media (max-width: 600px) {
    header{
        width: 100vh;
    }
    .campo, #check {
        background-color: yellow;
        width: 100%;
    }
   
}