@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Akshar&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    --color01: #7882b3;
    --color02: #7c7fd8;
    --color03: #1B1C30;
    --color04: black;
}

body {
    background-color: var(--color01);
    margin-left: 36%;
    margin-top: 2%;
    justify-content: center;
}

header {    
    text-align: center;
}

#titulo {
    font-family: 'Koulen', cursive;
    font-size: 2.5em;
    letter-spacing: 0.1em;
    margin-bottom: 10px;
    margin-left: 7%;
    padding: 5px 0px;
}

#subtitulo {
    font-family: 'Akshar', sans-serif;
    margin-left: 10%;
    font-size: 1.2em;
}

#check {
    display: inline-block;
}

fieldset {
    border: 0;
}

form {
    font-family: 'Akshar', sans-serif;
    max-width: 600px;     
    position: absolute;
    left: 25%;
    top: 25%;
}

input, select, textarea button {
    font-size: 1em;
    border-radius: 5px;
    color: var(--color03)
}

.grupo:before, .grupo::after {
    display: table;
}

.grupo:after {
    clear: both;
}

.campo {
    margin-bottom: 1em;
}

.campo label { 
    margin-bottom: 0.2em;
    color: var(--color04);
    display: block;
}

fieldset.grupo .campo {
    float: left;
    margin-right: 1em;
}

.campo input[type="text"], .campo input [type="email"], .campo select, .campo textarea {
    padding: 0.2em;
    border: 1px solid black;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 2);
    display: block;
}

.campo select option {
    padding-right: 1em;
}

.campo input:focus, .campo select:focus, .campo textarea:focus {
    background-color: #babacf;
}